table {
    width:100%;
    margin-top: 50px;
  }
  table, th, td {
    font-size: 0.89em;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: orange;
    color: white;
  }