.wrapper {
  height: 100vh;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  

  /*  background-color: #258ea6;*/
}
.wrapper-c{
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  

  /*  background-color: #258ea6;*/
}

.wrapper-c_no_show {
 display: none;
}
.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  overflow: auto;
  
}

.titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #a14900;
}


#ordenTitulo {
  color: white;
  font-size: 30px;
}

#empresa,
#persona {
  margin-top: 20px;
}
.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  display:flex;
}

h5 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
}

.firstname,
.ci,
.tipoCliente,
.telefono,
.nacimiento,
.direccion,
.secondName,
.capacidad,
.ubicacion,
.correo label {
  font-size: 1em;
  margin-bottom: 0.25em;
  font-weight: lighter;
}

/*.firstname,.ci,.telefono,.nacimiento,.direccion*/
input {
  padding: 1.5px 1.5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.firstname,
.ci,
.telefono,
.nacimiento,
.direccion,
.secondName,
.capacidad,
.tipoCliente,
.correo,
.ubicacion,.searching input::placeholder {
  font-size: 1em;
  font-weight: lighter;
}

.check .yes input {
  margin-right: 2%;
}
.firstName,
.cargo,
.nacimiento,
.horario-act,
.direccion,
.status,
.tipoCliente,
.lugares {
  margin-right: 1%;
}

.lugares {
  margin: 3px;
}
.lugares.h1 {
  display: flex;
}

.secondName .ci,
.nacimiento,
.telefono,
.capacidad,
.ubicacion,
.correo,
.sexo,
.direccion .lugares {
  margin-left: 1%;
}

.firstName,
.cargo,
.sexo,
.ci,
.nacimiento,
.telefono,
.direccion,
.horario-act,
.secondName,
.capacidad,
.tipoCliente,
.correo,
.ubicacion .lugares {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 48%;
}

.status {
  font-size: 0.9em;
  width: 20%;
}
.status {
  width: 25%;
}

/*.nacimiento {
  width: 100%;
}*/
.min-compra {
  display: flex;
  font-size: 0.9em;
}
.min-compra div {
  width: 25%;
}

.ingresarUsuario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingresarUsuario button {
  background-color: orange;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.ingresarUsuario button:hover {
  color: orange;
  background-color: #333;
  border: 2px solid #333;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content {
  width: 200px;
  height: 500px;
  background-color: white;
}
#empresa {
  display: none;
}
/*Form compra cliente*/
.title-compra {
  padding-top: 20px;
  display: inline-flex;
}

#title {
  font-size: 2em;
  width: 50%;
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  padding: 3.5px;
  border-radius: 0.3rem;
}
#compra {
  padding-top: 20px;
}
.infocompra {
  display: flex;
  width: 50%;
}

/*modal*/
.modal {
  margin-top: 300px;
}
#t01 button {
  margin-left: 2px;
  padding: 4px;
  font-size: 1em;
  background-color: rgb(165, 39, 39);
  color: white;
}
/*Eliminar*/
.btn-eliminar{
  margin-top: 20px;
  border-radius: 0.5em;
  width: 100px;
  padding:20px 20px;
  border-color: black;
  align-items: center;
}

#eliminado{
  display: none;
}