* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.header .demo-tabs {
  height: 1000000em;
  margin-top: 30px;
  transition: 0.00000001s;
}

.options {
  color: white;
}
.header-show .demo-tabs {
  margin-top: 30px;
  transition: 0.3s;
}
.section {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .header-show .demo-tabs {
    margin-top: 85px;

    overflow: auto;
  }
  .header .demo-tabs {
    margin-top: 85px;
  }
}

.buttonClienteshow button {
  background-color: orange;
  color: #333;
  border: 2px solid #fff;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 50%;
}
.buttonClienteshow button:hover {
  color: orange;
  background-color: #333;
  border: 2px solid #333;
}
