body {
  margin: 0;
  padding: 0;
}

.header .demo-tabs {
  margin-top: 30px;
  margin-left: 65px;
  transition: 0.00000001s;
  position: center;
}
.demo-tabs{
  width: 100%;
}
.options{
  color: white;
}
.header-show .demo-tabs {
  margin-top: 30px;
  transition: 0.3s;
  position: center;
}

@media screen and (min-width: 768px) {
  .header-show .demo-tabs {
    margin-top: 85px;
    margin-left: 15%;
  }
  .header .demo-tabs {
    margin-top: 85px;
    margin-left: 15%;
  }
}
